<div class="about-short">
    <!-- <hr class="small"> -->
    <p>
        Hello and welcome to my website! I am a Robotics Engineer with a deep passion for engineering, automation, mathematics, 
        and control. I am fascinated by the algorithms and control systems that bring robots to life, enabling them to act with 
        precision and intelligence. What excites me most is translating these ideas into reality through engineering.
        I recently completed my Master’s degree specializing in Robotics at UC San Diego in March 2025 and am currently working with Lucid Motors.
        Outside of Robotics, I swim, play football(soccer) and I'm an avid reader - so feel free to drop in your favorite book recommendations.
    </p>
</div>