<div class="about-intro">
    <hr class="small">
    <p>
        I am a Robotics Engineer driven by a deep passion for engineering, automation, mathematics, and controls. I love algorithms and control systems that bring robots to life, ensuring they perform with precision and intelligence. Turning them into reality through engineering excites me the most! With strong programming expertise in C++, C, Python, and MATLAB, and hands-on experience with robots in both simulation and hardware, I hope to solve complex problems in robotics.
        I'm currently working under Prof. Nikolay Atanasov at UCSD on Online Mapping with Gaussian Processes and my research interests span Motion Planning, Learning-Based SLAM, Advanced Control, and Modeling and Simulation. Discover more about my work below :)       
    </p>
</div>