<div class="about-long">
    <p>    
        My research interests include Motion Planning, Learning-Based SLAM and sensor-fusion techniques, Advanced Control, and Modeling and 
        Simulation. My academic and professional journey has provided me with extensive hands-on experience with ground robots, autonomous vehicles, 
        mobile manipulators and autonomous underwater vehicles. Before UCSD, I graduated with a Bachelor's degree in Mechanical Engineering
        from IIT Bombay in 2023, where I dived deeper into Systems and Control engineering -- a journey that naturally evolved into my 
        pursuit of Robotics.
    </p>
    <p>
        I enjoy tinkering with new ideas and projects in each of these areas, and this site is where I chronicle my work and learnings 
        — from the smallest insights and discoveries to larger, more complex projects. If you’re interested in robotics, I hope you’ll 
        find something valuable here. To dive deeper into my projects, research, and experiences, visit the Projects page. I am always 
        eager to connect with fellow enthusiasts and professionals in the field, so please feel free to reach out!
    </p>
</div>